data/mrio
data/external
data/trade-accounting
data/reer
codes/scratch*
images/publications.docx
checks

# Python
codes/__pycache__

# R
.Rproj.user
.Rhistory

# Mac OS-specific storage files
.DS_Store