data
codes/archive
codes/demo*
codes/view-outputs*
codes/scratch*
codes/adhoc*
codes/basic-checks*
codes/colors*
codes/checks*
codes/prep-for-kidb*
images/publications.docx
checks
dicts/sectors.xlsx
kidb

# Python
codes/__pycache__

# R
.Rproj.user
.Rhistory
adb-mrio.Rproj

# Mac OS-specific storage files
.DS_Store