data
codes/archive
codes/scratch*
codes/adhoc*
codes/basic-checks*
codes/colors*
codes/checks*
images/publications.docx
checks

# Python
codes/__pycache__

# R
.Rproj.user
.Rhistory
adb-mrio.Rproj

# Mac OS-specific storage files
.DS_Store